<nav class="bg-white shadow-sm py-4">
    <div class="nav__container">

        <!-- LOGO -->
        <h1 class="text-base">Angular-Inventory</h1>

        <!-- MENU OPTIONS -->
        <ul class="nav__menu">

            @for (option of menuOptions; track option.path) {                
                <li>
                    <a class="nav__link" routerLinkActive="nav__link--active" [routerLink]="option.path">{{ option.name }}</a>
                </li>
            }
        </ul>

        <!-- CLOSE SESION -->
        <div class="flex justify-end items-end">
            <button class="btn text-xs hover:bg-red-100 rounded-2xl">Cerrar Sesion</button>
        </div>
    
    </div>
</nav>
