<section class="flex items-center justify-center min-h-screen">
    <form class="login__form">
        <div>
            <h1>Registro de usuarios</h1>
            <p class="text-sm text-gray-500">
                Crea un nuevo usuario
            </p>
        </div>

        
        <input 
            type="text"
            placeholder="Nombre completo"
        >


        <input 
            type="email"
            placeholder="Correo electronico"
        >

        
        <input 
            type="password"
            placeholder="Contraseña"
        >

        <button
            type="submit"
            class="btn bg-black text-white"
        >
            Registrar
        </button>


    </form>

</section>